<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key Entry Timer</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div id="appContainer">
    <form id="keyEntryForm">
        <label for="keyInput">Enter Phrase: "Hello World!"</label>
        <input type="text" id="keyInput" name="keyInput" onkeypress="captureKeyPress(event)">
        <button type="button" onclick="submitForm()">Submit</button>
    </form>

    <div id="results"></div>
</div>

<script>
    var startTime;
    var keyPresses = [];

    function captureKeyPress(event) {
        if (!startTime) {
            startTime = new Date().getTime() / 1000; 
        }

        keyPresses.push({
            key: event.key,
            time: new Date().getTime() / 1000 - startTime
        });
    }

    function submitForm() {
        $.ajax({
            type: 'POST',
            url: '/process_input',
            data: {start_time: startTime},
            success: function(response) {
                displayResults(response.time_elapsed);
            }
        });
    }

    function displayResults(timeElapsed) {
        var resultText = '<span class="result-label">Time elapsed:</span> ' + timeElapsed.toFixed(2) + ' seconds<br>';
        resultText += '<span class="result-label">Key presses:</span> ' + JSON.stringify(keyPresses);


        $('#results').html(resultText);
    }
</script>

</body>
</html>
